﻿/***************************** common *******************************************/
/*
body, button, input, p {
	font-family: "Open Sans", serif;
}

html {
	height: 100%;
}


.info-footer {
	position: fixed;
	bottom: 0;
}

body {
	background: url("/img/bg.jpg") repeat;
	overflow-y: scroll;
	height: 100%;
}
*/
i.fa {
	color: #aaa;
	cursor: pointer;
}


i.fa:hover {
	color: #666;
}
/*
body * {
	font-family: Calibri;
}

*/
.remove {
	margin-left: 10px;
}


.item * {
	line-height: 20px;
	vertical-align: middle; 
}

.popup-element .close {
	position: absolute;
	top: 5px;
	right: 5px;
}
.left-panel-element h2 {
	margin-left: 15px;
}


.popup-element {
	position: fixed;
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	top: 100px;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	z-index: 99;
	display: none;
	padding: 20px;
}

.popup-element.full-card  table td {
	text-align: left;
	vertical-align: top;
}

.popup-element.full-card > table > tbody > tr > td:first-child {
	text-align: right;
	font-style: italic;
	padding-right: 20px;
	color: #888;
}

.popup-element h2 { 
	margin-top: 0;
}


.popup-element h3 {
	margin-bottom: 0;
	font-weight: normal;
	color: #444;
}

body.locked:before {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
	content: '';
	z-index: 1;
	display: block;
	background-color: rgba(10,0,0,0.3);
}

.close {
	cursor: pointer;
}

.content-element {
	width: 1024px;
	margin: 0 auto;
	height: 100%;
	
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	
	position: relative;
}


.add-good-element .fields,
.redact-good-element .fields {
	font-size: 0;
}

.add-good-element .field,
.redact-good-element .field {
	display: inline-block;
	width: 50%;
	font-size: initial;
	font-size: 15px;
	vertical-align: top;
}

.redact-good-element {
	z-index: 100;
}

.left-panel-element {
	width: 200px;
	float: left;
	background: #fff;
	height: 100%;
	margin-right: 20px;
	box-shadow: 8px 0 17px rgba(0,0,0,0.2);
	-webkit-box-shadow: 8px 0 17px rgba(0,0,0,0.2);
	-moz-box-shadow: 8px 0 17px rgba(0,0,0,0.2);
}

.right-panel-element {
	overflow: hidden;
	margin-left: 200px;
	position: relative;
}

/***************************** header *******************************************/
.header-element {
	background-color: #e4e4e4;
	overflow: hidden;
	z-index: 2;
}

.main-element {
	width: 50%;
	display: inline-block;
}
.menu-element {
	padding: 0;
	overflow: hidden;
	width: 50%;
	display: inline-block;
}

.menu-element li {
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	background: rgba(255,255,255,0.5);
	height: 200px;
}

.add-elemnt {
	height: 140px;
}
.search-element {
	width: 100%;
	padding-right: 189px;
	margin-top: 16px;
	background-color: rgba(0,0,0,0.5);
	padding-left: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;	
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.47);#ff
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.47);
	position: relative;
	margin-bottom: 6px;
	behavior: url("./PIE.htc");
}

.search-element > input,
.search-element > button {
	margin: 8px;
}


.search-element .search-field {
	width: 100%;
	height: 29px;
	border: none;
	padding: 0;
	padding-left: 8px;
	line-height: 29px;
	font-size: 22.5px;
	-webkit-box-shadow: 0 0 6px rgba(0, 171, 237, 0.14);
	-moz-box-shadow: 0 0 6px rgba(0, 171, 237, 0.14);
	box-shadow: 0 0 6px rgba(0, 171, 237, 0.14);
	zoom: 1;
	position: relative;
	behavior: url("./PIE.htc");	
}


.search-element  button.go {
	position: absolute;
	right: 0;
	top: 0;
	width: 155px;
	color: #fff;
	font-size: 28.5px;
	vertical-align: top;
	line-height: 20.5px;
}

.search-element  button.go .search-icon {
	margin-right: 8px;
}
.top-element {
	display: block;
	width: 100%;	
	vertical-align: top;
	height: 48px;
	margin: 0 auto;
	width: 1024px;
	border-top: 5px solid #000;
	border-bottom: 2px solid #888;
	
}

.top-element h1 {
	display: inline-block;
	width: 100%;
	font-size: 29px;
	text-align: center;
	margin: 0;
	line-height: 48px;
	color: #222;
	text-align: left;
	margin-left: 20px;
}

.left-panel-element a {
	cursor: pointer;
	color: #888;
}

.left-panel-element .selected a {
	color: #000;
}

.right-panel-element h1 {
	font-size: 17.6px;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: normal;
}


/***************************** menu *******************************************/
.menu-element {
	position: relative;
	width: 100%;
	text-align: center;
}

.menu-element ul {
	padding: 0;
	text-align: left;
	display: block;
	margin-top: 25px;
	overflow: hidden;
	padding-bottom: 40px;
	font-size: 0;
}

.menu-element ul li {
	display: inline-block;
	width: 245px;
	height: 130px;
	margin-bottom: 5px;
	border: 3px solid #888;
	box-sizing: border-box;
	border-radius: 11px;
	position: relative;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	font-size: initial;
	font-size: 14px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.menu-element ul li .remove {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}

.menu-element ul li:hover .remove {
	display: block;
}
